.container-sobremi {
  color: white;
  text-align: center;
  justify-content: center;
  padding-top: 50px;
}

.text-sb{
  font-family: $font-family;
}

.imagen-sb{
  max-width: 400px;
  width: 100%;
}
