.main-trabajos {
  height: 100vh;
}

section {
  height: 100vh;
}

.tp {
  color: white;
  text-align: center;
  padding-top: 20px;
  font-family: $font-family;
}

.text-p {
  color: white;
  text-align: center;
}

.card-title {
  text-align: center;
  font-family: $font-family;
}

